.eg-logo {
  height: 10vw;
  opacity: 0.7;
  margin-bottom: 1vw;
  margin-top: -5vw;
}

.eg-logo-link {
  border: none;
}

.eg-grid-section {
  text-align: left;
}

#features .eg-grid-section p {
  text-align: left;
}

.eg-book-link-img {
  height: 40px;
}

.eg-grid-button {
  width: 100%;
  margin-bottom: 20px;
}

.eg-author-name {
  text-transform: none;
  font-weight: 350;
}

.eg-game-link, .eg-game-link:hover {
  width: 20em;
  height: 8em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: none;
  background-color: transparent;
}

.google-play-link, .google-play-link:hover {
  background-image: url("../../images/google-play-badge.png");
}

.apple-app-store-link, .apple-app-store-link:hover {
  background-image: url("../../images/apple-app-store-badge.png");
}
